{% comment %}
accordion-item

  Accepts:
  - title: {String} Title for each item
  - text_content: {HTML} Content for each item
  - class: {String} ClassName for item
  -type_title: {String} tag type for title <span> or <h3>
  -arrow_icon: {Boolean} true for render icon or false for don't render

  Usage:
  {% render 'accordion-item',
    title: block.settings.heading,
    text_content: capture <HTML>,
    class: classContent,
    type_title: section.settings.type_title,
    arrow_icon: arrowIcon
  %}
{% endcomment %}

<div class="{{ class }}">
  <div class="title-container">
    {% if type_title == "seo" %}
      <h3 class="title-container__title">{{ title }}</h3>
    {% else %}
      <span class="title-container__title">{{ title }}</span>
    {% endif %}

    {% if arrowIcon %}
      <a href="#" class="title-container__icon"></a>
    {% endif %}
  </div>
  <div class="content-container">
    {{ text_content }}
  </div>
</div>

