{% comment %}
Button add to cart

Accepts:
- btn_type: {String} ClassName type button
- class: {String} ClassName complementary
- available: {Boolean} The selected or first available is available ?
- text: {String} text in button

Usage:
{% render 'button-add-cart'
btn_type: 'btn-2',
class: 'btn-add-to-cart',
available: product.selected_or_first_available_variant.available
%}
{% endcomment %}

<button class="{{ btn_type }} {{ class }} btn-cart-js" type="submit">
  {%- if available -%}
    {{ text }}
  {%- else -%}
    {{ 'products.product.sold_out' | t }}
  {%- endif -%}
</button>