{% comment %}
Render side cart header

Accepts:
- title: {String} title of header

Usage:
{% render 'cart-header'
title: section.settings.cart_title
%}
{% endcomment %}

<div class="cart-header">
  <span class="cart-left">
    {% render 'icon-arrow-left' %}
  </span>
  <span class="cart-close">
    {% render 'icon-close-black' %}
  </span>
  <div class="cart-margins__inline">

    <div class="cart-header__title">
      <span class="cart-header__title--text">
        {{ title }}
      </span>
    </div>

  </div>
</div>