{% comment %}
Render footer in cart

Accepts:
- cart: {Object} cart object
- shipping_info: {String} shipping info in cart
- checkout_button: {String} text for checkout button

Usage:
{% render 'cart-footer'
cart: cart,
shipping_info: section.settings.shipping_info,
checkout_button: section.settings.checkout_button
%}
{% endcomment %}

<div id="container-footer-js">
  {% if cart.item_count > 0 %}
    <div class="cart-footer cart-margins__inline">
      <div class="cart-footer__button" id="cart-footer__button">
        {% capture content_button %}
          {{ "sections.cart.checkout" | t }}
          <span id="total-price">
            {{ cart.total_price | money }}
          </span>
        {% endcapture %}

        <div class="cart-header__discount">
          {% liquid
            assign cart_total = cart.original_total_price
          %}
        </div>

        {% render 'cart-progress-bar'
         title: progressbar_title,
         total_price: cart_total,
         limit_price: limit_price,
         text_free_shipping: text_free_shipping %}

        <a href="/checkout">
          {% render 'button'
           class: "cart-footer__button--btn",
           content: content_button,
           type: 4
           size: 1
           action: "button" %}
        </a>
      </div>
    </div>
  {% endif %}
</div>