<input 
  type="hidden" 
  id="progress-bar-data"
  data-total="{{ total_price }}"
  data-limit="{{ limit_price }}"
>

<span>{{ title }}</span>

<div class="bar">
  <div class="bar-progress">
    <span></span>
  </div>
</div>