{% comment %}
  Renders text dinamic code errro 404. 

  nota: only one params option 'large', 'madium', 'small'
  Accepts:

  - size: {String} text type text code error. example 'large'

  Usage:
  {% render 'code-404' 
    size: 'large'
  %}
{% endcomment %}

<h1 class="error-page__title--{{ size }}">
  {{ section.settings.main_message }}
</h1>