{% comment %}
  Filter by tag

    Accepts:
    - order_tags: (Object) Contiene una lista de los tags ordenados, ex. 'f-type1,f-type2,f-type3'
    - collection_tags: (Object) Contiene los tags de la colección
    - text_all_products: (String) Contiene un texto para asignar el label de “Ver todos los productos”
    - type_filter: (String) Contiene el identificador del tag
    - class: (String) ClassName input radio

    Usage:
    {% render "filter-tag"
      order_tags: [object],
      collection_tags: [object],
      text_all_products: 'All products',
      type_filter: 'f-',
      class: "filter_radio-button"
    %}
{% endcomment %}

{% assign tag_all = type_filter | append: 'all' %}
{% assign concat_all = tag_all | append: ' ' | split: ' ' %}
{% assign text_all = text_all_products | default: 'All' %}
{% assign all_tags = order_tags | reverse | concat: concat_all | reverse %}
{% assign collection_tags = collection_tags | concat: concat_all %}

{% for tag in all_tags %}
  {% for tagg in collection_tags %}
    {% if tag == tagg %}
      <label class="{{ class }}">
        <input
          class="filter-input"
          type="radio"
          value="{{ tag | replace: tag_all, '' }}"
          name="filter"
        >
        {{ tag 
          | remove: type_filter
          | capitalize
          | replace: 'All', text_all
        }}
      </label>
    {% endif %}  
  {% endfor %}
{% endfor %}