{%-liquid
  assign class = id | prepend: 'id-'
-%}

<label
  class="quantity-label"
  for="{{ id }}"
>
  <button type="button" 
    data-input="{{ id }}"
    data-action="subtr"
  >
    -
  </button>
  
  {% render 'input'
    input_class: "input-quantity",
    id_class: class
    class: "item-cart-js"
    type: "number",
    id: id,
    value: cart_item.quantity
  %}
  
  <button type="button" 
    data-input="{{ id }}"
    data-action="plus"
  >
    +
  </button>

</label>
