<div class="swiper slider2">
  <div class="swiper-wrapper">

    {% for image in product.media %}   
      {% assign imgUrl = image | image_url: width: 900 %}

      <div class="swiper-slide">
        {% render "render-image"
          class: "",
          img_src: imgUrl,
          img: image,
          size: "300 400 900",
          width: "900",
          height: "506"
        %}
      </div>

    {% endfor %}

  </div>

</div>

<div thumbsSlider="" class="swiper productSwiper">
  <div class="swiper-wrapper">

    {% for image in product.media %}   
    {% assign imgUrl = image | image_url: width: 175 %}

    <div class="swiper-slide">
      {% render "render-image"
        class: "",
        img_src: imgUrl,
        img: image,
        width: "175",
        height: "99"
      %}
    </div>

    {% endfor %}

  </div>

  <div class="swiper-button swiper-button-next">
    {% render 'icon-arrow' %}
  </div>
  <div class="swiper-button swiper-button-prev">
    {% render 'icon-arrow' %}
  </div>

</div>