<div
  id="search"
  class="search"
  data-active="false"
>
  <form action="{{ routes.search_url }}" class="search_form">
    <div class="search_form--textfield">
      <input type="text"
        id="search"
        name="q"
        placeholder="Typing..."
        value="{{ search.terms | escape }}"
      >
      <label for="search">
        {{ 'general.search.search' | t }}
      </label>
    </div>
    <button type="submit">
      >
    </button>
  </form>
</div>