{% if show_announce %}
  <div class="top-bar swiper">
    <div class="bar-close-js">
      {% render 'icon-close' %}
    </div>
    <div class="swiper-wrapper top-bar_content">
      {% for block in blocks_text_announce %}
        <div class="top-bar_content--message swiper-slide">
          {{ block.settings.heading }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}