{% comment %}
  Top bar

  Accepts:
  - show_announce: {Bollean} show or hidden top bar
  - blocks_text_announce: {array} text announce


  Usage:
  {% render 'top-bar-announce'
    show_announce: "true or false",
    blocks_text_announce: "[text,text,text]",

  %}
{% endcomment %}

{% if show_announce %}
  <div class="top-bar swiper">
    <div class="bar-close-js">
      {% render 'icon-close' %}
    </div>
    <div class="swiper-wrapper top-bar_content">
      {% for block in blocks_text_announce %}
      <div class="top-bar_content--message swiper-slide">
        {{ block.settings.heading }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
