<ul>
  <li>
    <a href="{{ routes.account_url }}">
      account
    </a>
  </li>
  <li>
    <button class="button-cart">
      cart
    </button>
  </li>
  <li>
    <button>
      search
    </button>
  </li>
</ul>