<ul class="flex">
  <li>
    <a href="{{ routes.account_url }}">
      {% render 'icon-account' %}
    </a>
  </li>
  <li>
    <button>
      {% render 'icon-cart' %}
    </button>
  </li>
  <li>
    <button>
      {% render 'icon-zoom' %}
    </button>
  </li>
</ul>
{% render 'top-search' %}