.bar {
  background: transparent;
  border: 1px solid var(--color-base-text);
  border-radius: 50px;
  height: 12px;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;

  &-progress {
    background: var(--color-base-bg);
    height: 100%;
    transition: width .3s ease-in-out;
    width: 0;
  }
}