@use "../abstracts/mixins";

%button {
  padding: 15px 30px;
  border-width: 1px;
  border-style: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  transition-property: background-color;

  &:hover {
    text-decoration: none;
    
    @include mixins.btn-type(
      var(--color-btn-color-hover),
      var(--color-btn-bg-hover),
      var(--color-btn-border-hover)
    );
  }

  &:disabled {
    opacity: 0.3;
  }
}

.btn {
  &-1 {
    @extend %button;
    @include mixins.btn-type(
      var(--color-btn-color-1),
      var(--color-btn-bg-1),
      var(--color-btn-border-1)
    );
  }

  &-2 {
    @extend %button;
    @include mixins.btn-type(
      var(--color-btn-color-2),
      var(--color-btn-bg-2),
      var(--color-btn-border-2)
    );
  }

  &-3 {
    @extend %button;
    @include mixins.btn-type(
      var(--color-btn-color-3),
      var(--color-btn-bg-3),
      var(--color-btn-border-3)
    );
  }

  &__w-100 {
    width: 100%;
  }

  &__p-50 {
    padding-right: 50px;
    padding-left: 50px;
  }

  &__p-70 {
    padding-right: 70px;
    padding-left: 70px;
  }
}