.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-cta);

  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    object-fit: cover;
    object-position: top;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;

    &--50 {
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
  }
  
  &__title {
    flex-basis: 60%;
    color: var(--color-font);
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title, &__buttons-wrapper {
    margin: .5rem 0;
  }

  &__button:nth-child(2) {
    margin-left: 0.5rem;
  }

}