.card-content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;

  &--image {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--title {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  &--description {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}