@use "../abstracts/variables";
@use "../abstracts/mixins";

.hero-slide{
    width: 100%;
    position: relative;

    &__image{
        width: 100%;
        position: relative;
        padding-top: 100%; /* Aspect ratio 1:1 */
        overflow: hidden;

        @include mixins.mediaThemeGradi('xxl'){
          padding-top: 33.33%; /* Aspect ratio 18:6 */
        }     

        img, iframe {
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }

        &-lg{
            display: none;

            @include mixins.mediaThemeGradi('xxl'){
                display: block;
            }
        }

        &-mb{
            display: block;

            @include mixins.mediaThemeGradi('xxl'){
                display: none;
            }
        }
    }

    &__title{
      margin-bottom: 10px;
      line-height: 20.21px;
      font-weight: 500;
  
      @include mixins.mediaThemeGradi('xxl'){
        line-height: 26.94px;
      }
    }
  
    &__description{
      margin-bottom: 0;
      line-height: 32.33px;
    }

    &__info{
      position: absolute;
      top: 0;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 0;
  
      @include mixins.mediaThemeGradi('xxl'){
        padding-bottom: 0px;
      }

      &.middle-left{
        align-items: flex-start;
      }

      &.middle-center{
        align-items: center;
      }

      &.middle-right{
        align-items: flex-end;
      }

      .swiper-button {
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        &-next {
          right: 0;
        }

        &-prev {
          left: 0;
          transform: rotateZ(180deg);
        }
      }
    }
}
