@use "../abstracts/variables";

.hero {
  &--simple {
    position: relative;
  
    & > .hero__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        filter: brightness(0.8);
        width: 100%;
        height: 100%;
      }
    }
    
    .hero__description {
      position: relative;
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }

  &--slider {
    .swiper {
      &-pagination {
        width: 100%;
        bottom: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 1;
  
        &-bullet {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid variables.$color-black;
          background-color: variables.$color-white;
  
          &-active {
            background-color: variables.$color-black;
          }
  
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
