@use "../abstracts/variables";

.image-text {
  display: flex;
  margin: 60px 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    text-align: left;
  }

  .is_revert {
    flex-direction: row-reverse;
  }

  .is_row {
    flex-direction: row;
  }

  .it__image {
    width: 50%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .it__description {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    h2 {
      font-family: "Rubik-Light";
      font-size: 30px;
      font-weight: 400;
      b {
        font-family: "Rubik-Medium";
        font-weight: 700;
      }
    }
    .text-description {
      font-family: "Roboto-Light";
      color: variables.$anatae-dark-gray;
      .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .column {
        width: 48%;
        margin-bottom: 20px;
      }
    }
    .icon-background {
      position: absolute;
      top: 15%;
      right: 0;
      @media screen and (max-width: 992px) {
        z-index: -1;
      }
    }
    .btn-1 {
      border-radius: 50px;
      background-color: #00602c;
      color: #ffffff;
      width: 150px;
      border: none;
      font-weight: 500;
      line-height: 19px;
      text-align: center;
      font-family: "Rubik-Light";
      font-weight: 500;
      font-size: 16px;
      margin-top: 40px;
    }
  }
}
