.main-product {
  display: flex;

  &__slider {
    width: 50%;
    margin-right: 50px;

    &-principal {
      position: relative;
      z-index: 0;

      .swiper-button {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 20px;
        transform: translateY(-50%);

        &-next {
          right: 0;
        }

        &-prev {
          left: 0;
          transform: rotateZ(180deg);
        }
      }
    }
  }

  &__detail {
    width: 50%;

    form {
      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.vertical-swipper {
  display: flex;
  flex-direction: row-reverse;

  &-principal {
    flex: 2;
  }

  &-thumbs {
    height: 100%;
    max-height: 600px;
  }
}
