@use "../abstracts/variables";

$margin-icon: 30px;

.row__images {
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: variables.$anatae-dark-gray;
    font-family: "Rubik-Light";
    text-align: center;
    h2 {
      b {
        font-family: "Rubik-Medium";
      }
    }

    h3 {
      font-family: "Roboto-Light";
    }
  }

  .elements__images {
    flex-wrap: wrap;
    --gap-flex: 0;
    --justify: center;
    text-align: center;
    //
    .element__image {
      width: 100%;
      margin: 0;
      display: inline-block;
      align-items: center;
      padding: 0;

      h3 {
        margin: 10px 0;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .elements__images {
      --justify: flex-start;
      overflow-x: auto;
      flex-wrap: nowrap;
      margin-left: -1rem;
      margin-right: -1rem;

      .element__image {
        flex-shrink: 0;
        width: auto;
      }
    }
  }

  @media screen and (min-width: 576px) {
    .elements__images {
      .element__image {
        width: 45%;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .elements__images {
      flex-wrap: nowrap;
      --gap-flex: 30px;

      .element__image {
        width: 23%;
        padding: 0;
      }
    }
  }
}
