.pagination {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &--nav {
    margin: 0 auto;
    
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin: 5px;
      }
    }
  }

  .caret {
    font-size: 0;
    
    &--next {
      svg {
        transform: rotateZ(-90deg);
      }
    }

    &--prev {
      svg {
        transform: rotateZ(90deg);
      }
    }

    svg {
      width: 10px;
    }
  }
}