 .error-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    &__title{
      
      &--large {
        font-size: 120px;
      }
      &--medium {
        font-size: 84px;
      }
      &--small {
        font-size: 48px;
      }
    }
    &_center{
      text-align: center;
    }
    &_left{
      text-align: start;
    }
    &_right{
      text-align: end;

    }
 }

.padding404-section{
  padding: 15px;
}

.img404-order_top{
order: -1;
}
.img404-order_bottom{
  order: 4;
}
