.product-card {
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--head {
    display: flex;
    flex-direction: column;
    
    &-images {
      overflow: hidden;
      position: relative;
      padding-bottom: 100%;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    &-info {
      width: 95%;
      margin: 0 auto 20px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &-variants {
      margin: 0 auto 10px;
      width: 95%;
    }

    button {
      margin: 0 auto 10px;
      width: 95%;
    }
  }
}