@use "../abstracts/variables";
.product-card {
  display: flex;
  overflow: hidden;
  // flex-direction: row;
  border: none;
  border-radius: 10px;
  // text-decoration: none;
  &--head {
    text-decoration: none;
    display: flex;
    // flex-direction: column;
    &-images {
      position: relative;
      overflow: hidden;
      padding-bottom: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      display: flex;
      width: 95%;
      justify-content: space-between;
      padding: 10px 0;
      margin: 0 auto 20px;
    }
    &--textcontent {
      margin: 24.5px;
      padding: 0px;
      & > h2 {
        margin: 0px;
        font-family: Rubik-Medium, sans-serif;
        color: variables.$color-anatae-dark-gray;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
      }
      & > h3 {
        margin-top: 7px;
        margin-bottom: 7px;
        // background-color: white;
        height: 48px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: variables.$color-anatae-dark-gray;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      &-review {
        // background-color: cyan;
        margin: 0px;
        margin-bottom: 24px;
      }
      & > hr {
        color: variables.$color-anatae-dark-green;
        border: 0.5px solid;
      }
      &-price {
        // background-color: rgb(217, 58, 231);
        margin: 0px;
        height: 24px;
        margin-top: 24px;
        margin-bottom: 25px;
        display: flex;
        h3 {
          margin-top: 0px;
          padding-right: 9px;
          margin-bottom: 7px;
          // background-color: white;
          height: 24px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: variables.$color-anatae-dark-gray;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
  }
  &--form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    &-variants {
      width: 95%;
      margin: 0 auto 10px;
    }
    button {
      width: 95%;
      margin: 0 auto 10px;
    }
  }
}
