.variant {
  &_radio-button {
    cursor: pointer;
    input {
      &:checked + .variant_radio-button--design {
        border: 1px solid #000;
        box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.3);
      }
    }

    &--design {
      width: 20px;
      height: 20px;
      border: 1px solid transparent;
      border-radius: 50%;
    }
  }
}