@use "../abstracts/variables";
.recomendation {
  height: auto;
  margin: 85px;
  &--icon {
    padding-top: 61px;
    text-align: center;
  }
  &--title {
    text-align: center;
    font-family: Rubik-Medium, sans-serif;
    color: variables.$anatae-dark-gray;
    font-weight: 700;
    font-size: 30px;
  }
  &--description {
    text-align: center;
    font-family: Roboto, sans-serif;
    color: variables.$anatae-dark-gray;
    font-weight: 400;
    line-height: 5px;
    font-size: 18px;
  }
  &--content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &-products {
      border-radius: 10px;
      border: 1px solid #e0e0e0;
      width: 292px;
      height: 607px;
    }
  }
}
