.hero--siemple{
  position: relative;
  height: 80vh;
    img, iframe{
      height: 80vh;
      object-fit: cover;
    }
    .hero__description{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 80%;
      h1{
        color: white;
      }
      p{
        text-align: justify;
        font-size: 16px;
        color: white;

      }
      a{
        display: block;
        padding: 5px 15px;
        width: 100px;
        margin-top: 15px;
        background-color: orange;
        text-align: center;
        border-radius: 3px;
      }
    }
    .middle-left{
      left: 10%;
    }
    .middle-center{
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .middle-right{
      right: 10%;
    }
}

@media (min-width: 576px){
  .hero--siemple{
    .hero__description{
      width: 55%;
    }
  }
}

@media (min-width: 768px){
  .hero--siemple{
    .hero__description{
      width: 35%;
    }
  }
}