.wrapper_slider {
  position: relative;
  z-index: 0;

  .swiper-wrapper {
    position: relative;
  }
  
  button.swiper-button {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
    border-style: none;
    
    &.swiper-button {
      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }
  }
}