@use "../abstracts/variables";

.top-bar {
  background: #000000;
  color: #ffffff;
  font-family: "Rubik-Light", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;

  svg {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(-15%, -50%);
    width: 24px;
    z-index: 2;
  }

  &_content {
    &--message {
      align-items: center;
      color: #ffffff;
      display: flex;
      justify-content: center;
      padding: 5px;

      p {
        line-height: 18px;
        padding: 0 7%;
        text-align: center;
        @media screen and (max-width: 992px) {
          font-size: 11.04px;
          padding: 0 15%;
        }
      }
      p a {
        color: #ffffff;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        @media screen and (max-width: 992px) {
          font-size: 11.04px;
        }
      }
    }
    strong {
      font-weight: 400;
    }
  }
  @media screen and (max-width: 992px) {
    .bar-close-js {
      padding-left: 10%;
    }
  }
}
