@use '../abstracts/variables';

.top-bar {
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  z-index: 1;
  font-size: 14px;

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 5px;
    cursor: pointer;
  }

  &_content {
    &--message {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      color: #FFFFFF;

      p {
        margin: 0 20px;
        text-align: center;
      }
      p a{
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
    strong {
      font-weight: 400;
    }
  }
  @media screen and (max-width: 992px) {
    .bar-close-js {
      margin: 20px 0;
    }
  }
}
