@use '../abstracts/variables';

.top-bar {
  width: 100%;
  background: variables.$color-background;
  color: variables.$color-title;
  z-index: 1;

  svg {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 9px;
    cursor: pointer;
  }

  &_content {
    &--message {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      p {
        margin: 0 20px;
        text-align: center;
      }
    }
    strong {
      font-weight: 600;
    }
  }
}
