.variants {
  display: grid;
  grid-row-gap: 10px;
  row-gap: 10px;

  &--name {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &--radio-container {
    display: flex;
    flex-wrap: wrap;

    label {
      margin-right: 5px;

      :last-of-type {
        margin-right: 0;
      }
    }
  }

}