@use "../abstracts/variables";

.wrapper {
  max-width: variables.$max-width--wrapper;
  margin: 0 auto;

  @media screen and (min-width: 750px) {
    padding-right: variables.$paddings-side;
    padding-left: variables.$paddings-side;
  }
  
  @media screen and (max-width: 749px) {
    padding-right: variables.$paddings-side--movil;
    padding-left: variables.$paddings-side--movil;
  }
}