@use "../abstracts/variables";

main.hello {
  & > section {
    margin-bottom: variables.$margin-section;

    @media screen and (max-width: 749px) {
      margin-bottom: variables.$margin-section--movil;
    }
  }

  &-welcome {
    padding: 25px;
    background: var(--color-base-bg);
    text-align: center;

    span {
      display: block;
    }
  }
}