{% if section.settings.background_image != blank %}
  {% render "render-image"
    class: "cta__image",
    img: section.settings.background_image,
    alt: section.settings.background_image.alt
  %}
{% endif %}

{% if section.settings.width_mode == '50' %}
  {% assign with_mode_class = 'cta__content--50' %}
{% else %}
  {% assign with_mode_class = '' %}
{% endif %}

<div class="cta__content wrapper {{ with_mode_class }}">
  <h2 class="cta__title">
    {{ section.settings.title }}
  </h2>

  <div class="cta__buttons-wrapper">
    {% if section.settings.text_button_one != blank and section.settings.url_button_one != blank %}
      {% if with_mode_class == '' %}
        {% assign button_one_class = "btn-2 cta__button" %}
      {% else %}
        {% assign button_one_class = "btn-2" %}
      {% endif %}
      {% render 'link'
        class: button_one_class,
        url: section.settings.url_button_one,
        content: section.settings.text_button_one
      %}
    {% endif %}

    {% if section.settings.text_button_two != blank and section.settings.url_button_two != blank %}
      {% if with_mode_class == '' %}
        {% assign button_two_class = "btn-1 cta__button" %}
      {% else %}
        {% assign button_two_class = "btn-1" %}
      {% endif %}
      {% render 'link'
        class: button_two_class,
        url: section.settings.url_button_two,
        content: section.settings.text_button_two
      %}
    {% endif %}
  </div>
</div>

{% if section.settings.background_image != blank %}
  {% assign default_background_color = 'transparent' %}
{% else %}
  {% assign default_background_color = section.settings.background_color %}
{% endif %}

{% style %}
  :root {
    --color-background-cta: {{ default_background_color }};
  }
{% endstyle %}

{% schema %}
{
  "name": "Call To Action Section",
  "class": "cta",
  "blocks": [
  ],
  "settings": [
    {
      "type": "radio",
      "id": "width_mode",
      "label": "Width Mode",
      "options": [
        {
          "value": "50",
          "label": "50%"
        },
        {
          "value": "100",
          "label": "100%"
        }
      ],
      "default": "100"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#989898"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "text_button_one",
      "label": "Text Button One"
    },
    {
      "type": "url",
      "id": "url_button_one",
      "label": "Link Button One"
    },
    {
      "type": "text",
      "id": "text_button_two",
      "label": "Text Button Two"
    },
    {
      "type": "url",
      "id": "url_button_two",
      "label": "Link Button Two"
    }
  ],
  "presets": [
     {
       "name": "Call To Action Section",
       "blocks": []
     }
  ]
}
{% endschema %}