{%- if section.settings.heading != blank -%}
  <h2>{{ section.settings.heading }}</h2>
{%- endif -%}

{% capture snippet_content %}
  {% for block in section.blocks %}
    {% assign product = block.settings.product %}
    <div class="swiper-slide">
      {% render 'product-card'
        product: product
      %}
    </div>
  {% endfor %}
{% endcapture %}

{% render 'slider'
  content: snippet_content,
  arrows: true
%}

{% schema %}
{
  "name": "Carousel products",
  "class": "carousel-products wrapper",
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading carousel"
    }
  ],
  "presets": [
    {
      "name": "Carousel products",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
