{% render 'render-image'
  img_src: img_src,
  img: section.settings.brand,
  size: "320 600 720 1440",
  alt: section.settings.brand.alt,
  width: "60",
  height: "100"
%}
<span>
  {{ section.settings.heading }}
</span>

{% schema %}
{
  "name": "Footer password",
  "class": "footer-password",
  "tag": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "brand",
      "label": "Hero image - 1440x700px"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "2022 ©"
    }
  ]
}
{% endschema %}