<!-- eslint-disable -->
{%- capture welcome -%}
  Welcome to <a href="https://gradiweb.github.io/shopifyBase_doc/">Gradi Theme Base</a>
{%- endcapture -%}

<main class="hello">
  <section class="hello-welcome">
    {% render 'heading' content: welcome %}
    {{ settings.colors_bg_1 }}
  </section>

  <section class="wrapper">
    <h2 class="h1">Design System</h2>
    <p class="h2">
      Headings
    </p>
    <h1>HOLA</h1>
    <h2>HOLA</h2>
    <h3>HOLA</h3>
    <h4>HOLA</h4>
    <h5>HOLA</h5>
    <h6>HOLA</h6>
  </section>

  <section class="wrapper">
    <p class="h2">Grid system</p>
    <div class="grid">
      <div class="card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quod temporibus nemo perspiciatis excepturi earum eaque labore ab repellendus molestiae eius accusantium, officiis dicta porro? Omnis, non. Ut, sapiente amet.
      </div>
      <div class="card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quod temporibus nemo perspiciatis excepturi earum eaque labore ab repellendus molestiae eius accusantium, officiis dicta porro? Omnis, non. Ut, sapiente amet.
      </div>
      <div class="card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quod temporibus nemo perspiciatis excepturi earum eaque labore ab repellendus molestiae eius accusantium, officiis dicta porro? Omnis, non. Ut, sapiente amet.
      </div>
    </div>
  </section>

  <section class="wrapper">
    <p class="h2">Flex component</p>
    <div class="flex">
      <div>
        <h3 class="h4">Plan 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias rerum harum animi ex totam quasi corporis illum, aliquid laudantium, velit possimus id! Ab laborum dolor qui cupiditate et accusantium.
        </p>
        <button class="btn-1 btn__w-100">
          Active my plan
        </button>
      </div>
      <div>
        <h3 class="h4">Plan 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias rerum harum animi ex totam quasi corporis illum, aliquid laudantium, velit possimus id! Ab laborum dolor qui cupiditate et accusantium.
        </p>
        <button class="btn-2 btn__w-100">
          Active my plan ⭐
        </button>
      </div>
      <div>
        <h3 class="h4">Plan 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias rerum harum animi ex totam quasi corporis illum, aliquid laudantium, velit possimus id! Ab laborum dolor qui cupiditate et accusantium.
        </p>
        <button class="btn-1 btn__w-100">
          Active my plan
        </button>
      </div>
    </div>
  </section>
</main>
