{%- liquid
  assign showPagination = false
  assign description = block.settings.description
  if section.blocks.size > 1
    assign showPagination = true
  endif
-%}

<div
  style="display: none;"></div>

{% capture snippet_content %}
  {% assign count = 0 %}
  {% for block in section.blocks %}
    <div
      class="swiper-slide">
      {% render 'hero-slide'
       , index: forloop.index
       title: block.settings.heading,
       description: block.settings.description,
       ctatext: block.settings.cta_text,
       ctalink: block.settings.cta_link,
       imagedesktop: block.settings.image_desktop,
       imagemobile: block.settings.image_mobile,
       count: count %}
    </div>
  {% endfor %}
{% endcapture %}

{% render 'slider'
 wrapper: 'hero--slider'
 content: snippet_content,
 arrows: showPagination,
 pagination: showPagination,
 item_max: section.blocks.size,
 perpage: 1 %}
<!-- eslint-disable max-len -->
{% schema %}
  {
    "name": "Hero Slider",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "content",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "subTitle",
            "label": "subTitle",
            "default": "subTitle"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "Button Text",
            "default": "Button text"
          }, {
            "type": "text",
            "id": "cta_link",
            "label": "Button Link",
            "default": "#"
          }, {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop Image",
            "info": "Ratio 18:6"
          }, {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image",
            "info": "Ratio 1:1"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Slider",
        "blocks": [
          {
            "type": "content"
          }, {
            "type": "content"
          }, {
            "type": "content"
          }, {
            "type": "content"
          }
        ]
      }
    ]
  }
{% endschema %}