{% comment %}
If require support mobile image.
Create new setting type image_picker 'background_mobile' and use:

Usage before tag img:
{% if section.settings.background_mobile != blank %}
<source
media="(max-width:767px)"
srcSet={{ section.settings.background_mobile | img_url }}
/>
{% endif %}
{% endcomment %}

<div class="image-text">
  {% if section.settings.image != blank %}
    <div class="hero__image">
      <picture>
        {% assign img_src = section.settings.image | image_url: width: 630 %}
        <img
          src="{{ img_src }}"
          height="100"
          width="100"
          title="{{ section.settings.image.alt }}"
          alt="{{ section.settings.image.alt }}"
          loading="lazy" />
      </picture>
    </div>
  {% endif %}

  <div class="hero__description">
    {% render "text-buttons" 
     title: section.settings.hero_title,
     description: section.settings.hero_description,
     link: section.settings.link_CTA,
     link_text: section.settings.title_CTA,
     position: 'left',
     class: 'hero__description-container' %}
  </div>
</div>

<!-- eslint-disable @html-eslint/element-newline -->
<!-- eslint-disable max-len -->
{% schema %}
  {
    "name": "Image-text",
    "class": "hero--simple",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "hero_title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "hero_description",
        "label": "Description",
        "default": "<p>Hello</p>"
      },
      {
        "type": "text",
        "id": "title_btn-it",
        "label": "Title btn",
        "default": "title btn"
      },
      {
        "type": "url",
        "id": "link_btn",
        "label": "Link btn"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
    ],
    "presets": [
      {
        "name": "Image-text"
      }
    ]
  }
{% endschema %}