<h1>{{ collection.title }}</h1>
<div>
  {% assign order_tags = 'f-type1, f-type2, f-type3' | split: ', ' %}
  
  {% render "filter-tag"
    order_tags: order_tags,
    collection_tags: collection.all_tags,
    text_all_products: 'All products',
    type_filter: 'f-',
    class: "filter_radio-button"
  %}
</div>

<script async>
  let url_collection = '{{ collection.url }}'
</script>

{% schema %}
  {
    "name": "Main collection",
    "tag": "section",
    "class": "main-collection wrapper",
    "settings": [
    ]
  }
{% endschema %}