<!-- eslint-disable max-len -->
{%-liquid
  assign price = product.selected_or_first_available_variant.price
  assign compare_at_price = product.selected_or_first_available_variant.compare_at_price
  assign available = product.selected_or_first_available_variant.available
-%}
<!-- eslint-enable max-len -->

{% render 'product-media'
  product: product,
  direction: 1
%}

<div class="main-product__detail">
  <h1>
    {{ product.title }}
  </h1>

  {% render 'price'
    compare_at_price: compare_at_price,
    price: price
  %}

  <input
    type="hidden"
    name="available"
    value="{{ available }}"
  />

  <p>
    {{ product.description }}
  </p>
  <form
    data-product="{{ product.id }}"
    action="/cart/add"
  >

    {% render 'variants-form'
      product: product,
      option_radio: 'Color'
    %}

    {% render 'button-add-cart'
      btn_type: 'btn-2',
      class: 'btn-add-to-cart',
      available: available
    %}

  </form>
</div>

{% schema %}
{
  "name": "Product page",
  "class": "main-product wrapper product-js",
  "tag": "section"
}
{% endschema %}
