{% if section.settings.row_icon_title != blank %}
  <h2>
    {{ section.settings.row_icon_title }}
  </h2>
{% endif %}

<div class="flex elements__icons">
  {% for block in section.blocks %}
    <div class="element__icon">
      {% if block.settings.row_image != blank %}
        {% assign url = block.settings.row_image | append: '.svg' | file_url %}
        {% render "render-image" 
         class: "class_image",
         img_src: url,
         alt: block.settings.row_image,
         width: "57",
         height: "57" %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Row images",
    "class": "row__images wrapper",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "tittle",
        "label": "Title"
      }, {
        "type": "text",
        "id": "sub_tittle",
        "label": "sub_Title"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "List items",
        "type": "icon",
        "settings": [
          {
            "type": "text",
            "id": "row_image",
            "label": "Image",
            "default": "icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Row icons",
        "blocks": [
          {
            "type": "icon"
          }, {
            "type": "icon"
          }, {
            "type": "icon"
          }, {
            "type": "icon"
          }
        ]
      }
    ]
  }
{% endschema %}