{% if section.settings.bold_title != blank %}
  <div>
    <h2 class="recomendation--title">
      <div class="icon-anatae">
        {% render "icon-anatae-identite-symbole" %}
      </div>
      {{ section.settings.bold_title }} {{ section.settings.plane_title }}
    </h2>
  </div>
  <h3 class="recomendation--description">
    {{ section.settings.description }}
  </h3>
{% endif %}
<div class="recomendation--content">
  {% for block in section.blocks %}
    {% assign product = block.settings.product %}
    <div class="recomendation--content-products">
      {% render 'product-card' 
       product: product %}
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Recommendations",
    "tag": "section",
    "class": "recomendation",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "bold_title",
        "default": "NOS MEILLEURES ",
        "label": "Bold Title"
      }, {
        "type": "text",
        "id": "plane_title",
        "default": "VENTES",
        "label": "Plane Title"
      }, {
        "type": "text",
        "id": "description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu.",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Recomendations",
        "blocks": [
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}