{% assign cart_title = "sections.cart.title" | t %}

<div class="cart-wrapper">
  {% render 'cart-header'
    cart: cart,
    title: cart_title,
    limit_price: section.settings.limit_price,
    progressbar_title: section.settings.progressbar_title
  %}
  
  {% render 'cart-items' 
    cart: cart
  %}
  
  {% render 'cart-footer'
    cart: cart,
    shipping_info: section.settings.shipping_info
  %}
  
  <span class="cart-close">
    {% render 'icon-close' %}
  </span>

</div>

{% schema %}
{
  "name": "Cart",
  "class": "cart",
  "settings": [
    {
      "type": "collection",
      "id": "upsell_collection",
      "label": "Products upsell"
    },
    {
      "type": "header",
      "content": "Progress Bar"
    },
    {
      "type": "text",
      "id": "progressbar_title",
      "label": "Progress bar title",
      "default": "Plus que 100 euros pour avoir la réduction de 10%"
    },
    {
      "type": "number",
      "id": "limit_price",
      "label": "Limit price €",
      "default": 100
    },
    {
      "type": "header",
      "content": "Cart configuration"
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell title",
      "default": "Vous aimerez aussi.."
    },
    {
      "type": "text",
      "id": "shipping_info",
      "label": "Shipping inf",
      "default": " Le livraison estimé : J+2/3"
    }
  ]
}
{% endschema %}