@mixin btn-type($color, $bg, $border) {
  color: $color;
  background-color: $bg;
  border: 1px solid $border;

  & > div#loading {
    border: 3px solid transparent;
    border-top-color: $color;
  }
}