@use '../abstracts/variables';

.my-contact {
  display: grid;
  max-width: 440px;
  margin: 0 auto;
  column-gap: 20px;
  grid-column-gap: 20px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-row-gap: 20px;
  row-gap: 20px;
}

/* form inputs animation */
.form__textfield {
  position: relative;
  display: flex;
  padding: 2px 10px;
  border: 1px solid variables.$color-black;
  border-radius: 5px;

  label {
    position: absolute;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    transition: .5s ease;
  }

  input, textarea {
    width: 100%;
    padding: 15px 0 5px;
    border-style: none;
    font-weight: 600;
    outline: none;

    &::placeholder {
      color: transparent;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: 0;
      font-size: 12px;
      opacity: .7;
      transform: translateY(5px);
    }
  }

  select {
    width: 100%;
    padding: 10px 0;
    border-style: none;
    outline: none;
  }
}

.form__checkbox {
  display: flex;
  
  input {
    margin-right: 10px;
  }
}

.toggle__checkbox {
  align-items: center;

  .slider {
    position: relative;
    display: block;
    width: 48px;
    height: 24px;
    margin-right: 10px;
    background: #ccc;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    
    &:after {
      position: absolute;
      top: 50%;
      left: 2px;
      width: 20px;
      height: 20px;
      background-color: #FFF;
      border-radius: 50%;
      content: "";
      transform: translateY(-50%);
      transition: .5s ease;
    }
  }

  input {
    display: none;

    &:checked + .slider {
      background: var(--color-base-principal);

      &:after {
        right: 2px;
        left: auto;
      }
    }
  }
}

.form__radio-button {
  display: flex;
  align-items: center;

  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #000;
  }
}

.form__question {
  display: grid;
  column-gap: 20px;
  grid-column-gap: 20px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-row-gap: 20px;
  row-gap: 20px;
  text-align: left;

  &--answer {
    font-weight: 600;
  }
}

.form__message {
  display: block;
  padding: 10px;
  border: 2px solid #000;
  background-color: #f1f1f1;
  border-radius: 5px;
}