.grid {
  display: grid;
  grid-column-gap: var(--column-gap, 10px);
  column-gap: var(--column-gap, 10px);
  grid-row-gap: var(--row-gap, 10px);
  row-gap: var(--row-gap, 10px);
  grid-template-columns: var(--columns , repeat(3, 1fr));
  grid-template-rows: var(--rows, 1fr);

  @media screen and (max-width: 749px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 350px) {
    grid-template-columns: 1fr;
  }
}