%flex-center {
  display: flex;
  align-items: center;
}

%reset-buttons {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding: 20px 50px 20px;
  background-color: #FFF;
  z-index: 2;
  --columns: 2fr 6fr 2fr;
  --column-gap: 20px;
  box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.20);

  &_logo {
    @extend %flex-center;
    position: relative;
    z-index: 1;

    a {
      display: block;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-decoration: none;
    }
  }

  nav {
    .burger-nav {
      display: none;
      @extend %reset-buttons;

      svg {
        width: 20px;
      }
    }

    ul {
      list-style: none;
    }

    & > ul {
      height: 100%;
      --justify: center;
      --gap-flex: 30px;

      & > li {
        text-transform: uppercase;
        padding: 5px 0;

        a {
          text-decoration: none;
        }
        
        button {
          @extend %reset-buttons;
          @extend %flex-center;
          text-transform: inherit;

          & > span {
            margin-right: 10px;
          }

          svg {
            color: black;
            height: 5px;
          }

          &[data-active="true"] {
            & ~ div.dropdown {
              display: block;
            }
      
            svg {
              transform: rotateZ(180deg);
            }
          }
        }

        & > .dropdown {
          display: none;
          position: absolute;
          top: 60px;
          left: 0;
          padding: 50px 50px 50px;
          width: calc(100% - 100px);
          background-color: #FFF;
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.20);
          
          ul {
            --columns: 1fr 1fr 1fr 1fr;
            
            & > li {
              text-transform: none;

              & > a.child-title {
                display: block;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      order: -1;
      display: flex;
      align-items: center;

      .burger-nav {
        display: block;
      }

      & > ul {
        display: none;
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &[data-active="true"] {
          display: flex;
        }

        & > li.nav-item {
          padding: 0 20px;
          margin: 0;
          width: calc(100% - 40px);
          border-bottom: 1px solid;

          & > * {
            padding: 20px 0;
          }

          & > a {
            display: block;
          }

          & > button {
            width: 100%;
            display: flex;
            justify-content: space-between;

            svg {
              height: 10px;
            }
          }

          & > .dropdown {
            position: static;
            padding: 0 0 20px;
            width: 100%;
            box-shadow: none;

            ul.grid {
              display: block;

              & > li:not(:last-of-type) {
                margin-bottom: 25px;
              }

              & > li > a.child-title {
                margin-bottom: 0;
              }

              & > li > ul.child-list {
                li {
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &_user {
    position: relative;
    z-index: 1;

    ul {
      height: 100%;
      list-style: none;
      --justify: flex-end;

      li {
        a {
          display: block;
        }

        svg {
          color: black;
          height: 17px;
          
          &.icon-cart {
            height: 30px;
          }
        }

        button {
          @extend %reset-buttons
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 20px;
    --columns: auto 6fr 2fr;
  }
}
