%flex-center {
  display: flex;
  align-items: center;
}

%reset-buttons {
  padding: 0;
  border-style: none;
  margin: 0;
  background-color: transparent;
}

.header {
  z-index: 2;
  padding: 0px 100px;
  border-bottom: 1px solid #c1c1c1;
  background-color: #fff;
  --columns: 2fr 7fr 2fr;
  --column-gap: 15px;
  box-shadow: 2.720763683319092px 8px 24px 0px #00000026;
  font-family: "Rubik-Medium", sans-serif;
  color: #000;

  a {
    color: #000;
    text-decoration: none;
    font-family: "Rubik-Medium", sans-serif;
  }

  &__logo {
    @extend %flex-center;
    position: relative;
    z-index: 1;

    a {
      display: block;
      font-weight: 500;
      font-family: "Rubik-Medium", sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & > nav {
    display: flex;
    justify-content: center;

    .burger-nav {
      display: none;
      @extend %reset-buttons;

      svg {
        width: 20px;

        &.icon-close {
          display: none;
        }
      }
    }

    ul {
      list-style: none;
    }

    & > ul {
      height: auto;
      --justify: center;
      --gap-flex: 30px;
      --align: stretch;
      flex-wrap: wrap;

      & > li {
        display: flex;
        padding: 25px 0;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;

        & > * {
          margin: auto 0;
        }

        & > a {
          text-decoration: none;
        }

        & > button {
          @extend %reset-buttons;
          @extend %flex-center;
          text-transform: inherit;

          & > span {
            margin-right: 5px;
          }

          svg {
            height: 5px;
            color: black;
            transition: transform ease 0.2s;
          }

          &[data-active="true"] {
            & ~ div.dropdown {
              display: block;
            }

            svg {
              transform: rotateZ(180deg);
            }
          }
        }

        & > .dropdown {
          background-color: #fff;
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
          display: none;
          padding: 24px 24px 0;
          position: absolute;
          top: 100%;
          transform: translate(-24px 0);
          z-index: -1;

          ul {
            --columns: 1fr 1fr 1fr 1fr;

            & > li {
              text-transform: none;

              & > a.child-title {
                display: block;
                font-family: "Rubik-Medium", sans-serif;
                font-size: 1.125rem;
                font-weight: 500;
                margin-bottom: 24px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      display: flex;
      align-items: center;
      order: -1;

      .burger-nav {
        display: block;
      }

      & > ul {
        position: fixed;
        top: 70px;
        left: 0;
        display: none;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        animation: slidein 0.3s ease;
        background-color: #fff;
        overflow-y: auto;
        @media screen and (max-width: 800px) {
          top: 120px;
        }

        &[data-active="true"] {
          display: block;

          ~ button {
            > svg {
              &.icon-close {
                display: block;
              }

              &.icon-hamburger {
                display: none;
              }
            }
          }
        }

        & > li.nav-item {
          display: block;
          width: calc(100% - 40px);
          height: auto;
          padding: 0 20px;
          border-bottom: 1px solid;
          margin: 0;

          & > * {
            padding: 20px 0;
          }

          & > a {
            display: block;
          }

          & > button {
            display: flex;
            width: 100%;
            justify-content: space-between;

            svg {
              height: 10px;
            }
          }

          & > .dropdown {
            position: static;
            width: 100%;
            padding: 0 0 20px;
            box-shadow: none;

            ul.grid {
              display: block;

              & > li:not(:last-of-type) {
                margin-bottom: 25px;
              }

              & > li > a.child-title {
                margin-bottom: 0;
              }

              & > li > ul.child-list {
                li {
                  margin: 5px 0;
                }
              }
            }
          }
        }

        @keyframes slidein {
          from {
            transform: translateX(-100%);
          }

          to {
            transform: translateX(0%);
          }
        }
      }
    }
  }

  &__user {
    position: relative;
    z-index: 1;

    ul {
      height: 100%;
      list-style: none;
      --justify: flex-end;
      --gap-flex: 15px;

      li {
        a {
          display: block;
        }

        button {
          width: 39px;
          height: 43px;
        }
        svg {
          width: 30px;
          height: 30px;
          color: black;
        }

        button {
          @extend %reset-buttons;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 20px;
    --columns: auto 6fr 2fr;
  }
}
