@use './abstracts/variables';

@import "components/address";
@import "components/auth";

$break-customer: 800px;
$margin-customer: 50px;

.customer {
  max-width: 900px;
  margin-top: variables.$margin-section;
  margin-bottom: variables.$margin-section;

  &__title {
    text-align: center;
  }

  &__nav-link {
    text-align: center;
    display: block;
    margin-bottom: $margin-customer;
  }

  &__layout {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (max-width: $break-customer) {
      & > *:last-child {
        margin-bottom: $margin-customer;
      }
    }

    @media screen and (min-width: $break-customer) {
      flex-direction: row;
      flex-wrap: nowrap;

      & > *:first-child {
        margin-right: $margin-customer;
      }
    }
  }

  &__2-3 {
    width: 100%;

    @media screen and (min-width: $break-customer) {
      width: 80%;
    }
  }

  &__1-3 {
    width: 100%;

    @media screen and (min-width: $break-customer) {
      width: 20%;
    }
  }

  &__order {
    &-list {
      --columns: 1fr 2fr 2fr 2fr 1fr;
      --column-gap: 30px;
  
      &--header {
        display: none;
  
        @media screen and (min-width: $break-customer) {
          display: grid;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
  
      &--detail {
        --columns: 3fr 2fr 2fr 1fr 1fr;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        & > *:last-child {
          text-align: right;
        }
      }
  
      &:not(:last-of-type) {
        padding-bottom: 10px;
        border-bottom: 1px solid;
      }
  
      & > div > .ref__hidden {
        display: none;
      }
  
      @media screen and (max-width: $break-customer) {
        --columns: 1fr;
        --row-gap: 30px;
  
        &:not(:last-of-type) {
          margin-bottom: $margin-customer;
        }
  
        & > div {
          display: flex;
          justify-content: space-between;
  
          & > .ref__hidden {
            display: block;
            margin-right: $margin-customer;
          }
  
          & > *:last-child {
            text-align: right;
          }
        }
      }
    }

    &-total {
      display: flex;
      justify-content: space-between;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      & > *:first-child {
        display: block;
        margin-right: $margin-customer;
      }

      & > *:last-child {
        text-align: right;
      }
    }
  }

  &__section-space {
    &:first-of-type {
      margin-bottom: $margin-customer;
    }
  }
}

.login .container__recover,
.container__login{
  display: none;
}
.login .container__login,
.container__register{
  display: flex;
}

.container__login,
.container__register,
.container__recover {
  flex-direction: column;
  align-items: center;
  h1{
    text-align: center;
    margin: 0;
  }
  .container__form {
    min-width: 250px;
    width: 80%;
    max-width: 350px;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .field{
      border-radius: 20px;
      border: 1px solid #000;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      padding: 5px 20px;
      width: 100%;
      label{
        font-size: 10px;
      }
      input{
        margin-top: 5px;
        outline: none;
        border: 0;
        width: 100%;
      }
    }
    a#recover{
      margin-top: 5px;
      color: #000;
      font-size: 14px;
    }
    .container__buttons{
      display: flex;
      flex-direction: column;
      align-self: center;

      button{
        background-color: #000;
        color: white;
        font-weight: 600;
        border-radius: 20px;
        padding: 7px 20px;
        margin: 25px 0 10px;
        box-sizing: border-box;
      }
      a{
        color: #000;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.container__recover .container__form {
  margin: 20px auto;
  p{
    text-align: center;
  }
}
