@use "./abstracts/variables";

@import "components/newslatter";

.password {
  position: relative;
  min-height: 100vh;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    object-fit: cover;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 749px) {
      position: relative;
    }

    & > div {
      --columns: 1fr 1fr;
      --column-gap: 30px;
      max-width: 1100px;
      height: 100%;
      align-items: center;
      padding-right: variables.$paddings-side;
      padding-left: variables.$paddings-side;
      margin: 0 auto;

      @media screen and (max-width: 749px) {
        height: auto;
        --columns: 1fr;
        --rows: 1fr 1fr;
        --row-gap: 30px;
        padding-right: variables.$paddings-side--movil;
        padding-left: variables.$paddings-side--movil;
      }
    }

    &--form {
      padding: 30px;
      border: 1px solid rgba(255, 255, 255, 0.31);
      -webkit-backdrop-filter: blur(5.5px);
      backdrop-filter: blur(5.5px);
      background: rgba(255, 255, 255, 0.40);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      & > form.grid {
        display: grid;
        --columns: 1fr;
      }

      .form__textfield {
        padding: 5px;
        border: 1px solid #FFF;
        color: #FFF;

        input {
          background-color: transparent;
        }
      }

      &-media {
        margin-top: 20px;
        color: #FFF;
        text-align: center;

        ul {
          margin-top: 10px;
        }
      }
    }

    &--info {
      color: #FFF;

      @media screen and (max-width: 749px) {
        padding-top: 100px;
        text-align: center;

        h1 {
          font-size: 30px;
          line-height: 25px;
        }
      }

      h1 {
        color: inherit;
        font-size: 60px;
        line-height: 55px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

.footer-password {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: var(--color-base-bg);
  color: #000;
  text-align: center;

  img {
    object-fit: contain;
  }

  span {
    display: block;
    font-size: 10px;
  }
}