.password {
  position: relative;
  height: 100vh;

  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
  }

  &_content {
    width: 100%;
    height: 100%;
    position: absolute;

    & > div {
      --columns: 1fr 1fr;
      --column-gap: 30px;
      align-items: center;
      max-width: 1100px;
      height: 100%;
      margin: 0 auto;
      padding-left: 100px;
      padding-right: 100px;

      @media screen and (max-width: 749px) {
        height: auto;
        --columns: 1fr;
        --rows: 1fr 1fr;
        --row-gap: 30px;
      }
    }

    &--form {
      background: rgba(255, 255, 255, 0.40);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(5.5px);
      border: 1px solid rgba(255, 255, 255, 0.31);

      display: grid;
      padding: 30px;
      --columns: 1fr;

      .form_textfield {
        padding: 5px;
        border: 1px solid #FFF;
        color: #FFF;

        input {
          background-color: transparent;
        }
      }
    }

    &--info {
      color: #FFF;

      @media screen and (max-width: 749px) {
        padding-top: 100px;
      }

      h1 {
        font-size: 80px;
        line-height: 70px;
        color: inherit;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

.footer-password {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #FFF;

  img {
    object-fit: contain;
  }

  span {
    display: block;
    font-size: 10px;
  }
}