name: Lint # name of the action (displayed in the github interface)

on: [push]

env: # environment variables (available in any part of the action)
  NODE_VERSION: 16

jobs: # list of things to do
  linting:
    name: Linting # job name (unique id)
    runs-on: ubuntu-latest # on which machine to run
    steps: # list of steps
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm ci

      - name: Install Code QA Dependencies
        run: npm run install:codeqa

      - name: Code Linting
        run: npm run lint

      - name: Notify Slack Action
        if: always()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: 'https://hooks.slack.com/services/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'